@font-face {
    font-family: "Malibu";
    src: url(fonts/Malibu.woff);
}
@font-face {
    font-family: "Manjari";
    src: url(fonts/manjari-regular-webfont.woff);
    font-weight: 400;
    line-height: 100;
}
@font-face {
    font-family: "Manjari";
    src: url(fonts/manjari-bold-webfont.woff);
    font-weight: 700;
}
@font-face {
    font-family: "Manjari";
    src: url(fonts/manjari-thin-webfont.woff);
    font-weight: 200;
}

body {
    background-color: #252323;
    color: #EEEDE0;
    font-family: "Manjari";
    padding:0px;
    margin:0px;
}

h3 {
    font-family: "Malibu";
    color:#FFF617;
    font-weight: normal;
    text-align:center;
    font-size: 2rem;
}

.hero {
    font-family: "Malibu";
    background-color: #FFF617;
    color:#252323;
    margin: 0px;
    padding:0px;
    height:100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink:0;

}


.hero h1 {
    font-weight:normal;
    margin:0px;
    font-size: 15vw;
    flex-shrink:1;
    color: #252323;

}

.hero h2 {
    font-family: "Manjari";
    flex-shrink: 0;
    font-size: 5vw;
    margin:0px;
}


.about {
    margin: 0 10vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-grow: 0px;
}
 
.profile-pic {
    width: 18em;
    border-radius: 50%;
    margin-right: 5vw;
}

.about-container {
    display: flex;
    align-items: center;
}

.about-container div {
   

}

